
.container{
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.altaTitulo{
    
    margin-bottom: 90px;
    
}

.altaInput{
    display: flex;
    flex-direction: column;
    
    
}

.grupoInputs{
    width: 50%;
    margin: 10px;
}

.grupoInputs input{
    width: 70%;
}

.grupoInputs label{
    padding: 10px;
}

.btn-submit{
    padding: 20px;
    

}
